<div class="row">
  <div class="col-lg-12">
    <h3>Details</h3>
    <div class="panel panel-default" ng-repeat="object in detail">
      <div class="panel-heading">{{object.InvestmentName}}</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Description: <br> {{object.BriefDescription}}</li>
          <li class="list-group-item">Mission: {{object.MissionSpecificOrGeneralStem}}</li>
          <li class="list-group-item">
            {{object.InvestmentName}} 
            <span class="pull-right" ng-click="edit = !edit">Update Name</span>
            <span ng-show="edit">
              <input type="text" ng-model="item.newName" class="form-control form-group" placeholder="New Name">
              <button class="btn btn-success" ng-click="update()">Submit</button>
            </span>
          </li>
          <li class="list-group-item">{{object.PrimaryInvestmentObjective}}</li>
          <li class="list-group-item">Subagency: {{object.Subagency}}</li>
          <li class="list-group-item">Funding year 2008: {{object.FundingFY2008}} Million</li>
          <li class="list-group-item">Funding year 2009: {{object.FundingFY2009}} Million</li>
          <li class="list-group-item">Funding year 2010: {{object.FundingFY2010}} Million</li>
          <li class="list-group-item">Year Established: {{object.YearEstablished}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
